<a class="about-btn" routerLink="/about"> {{ 'ABOUT_BUTTON' | translate }}</a>

<label for="">
  {{ 'SELECT' | translate }}
  <select #langSelect (change)="translate.use(langSelect.value)">
    <option
      *ngFor="let lang of translate.getLangs()"
      [value]="lang"
      [selected]="lang === translate.currentLang"
    >
      {{ lang }}
    </option>
  </select>
</label>


<router-outlet></router-outlet>
<div class="students">
  <div class="student" *ngFor="let student of students">
    <div class="student_field">
      <div class="col-md-4">Name:</div>
      <p>{{student.name}}</p>
    </div>
    <div class="student_field">
      <div class="col-md-4">Email:</div>
      <p>{{student.email}}</p>
    </div>
    <div class="student_field">
      <div class="col-md-4">Gender:</div>
      <p>{{student.gender}}</p>
    </div>
  </div>
</div>